.elementor-1055 .elementor-element.elementor-element-93fefc4 {
    padding: 120px 0px 120px 0px;
}

.elementor-1055 .elementor-element.elementor-element-ac16b1c .portfolio-thumb img {
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
}